<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="number" name="roll_no" placeholder="roll_no"> <br>
        <input type="text" name="name" placeholder="name"> <br>
        <input type="number" name="age" placeholder="age"> <br>
        <input type="email" name="email" placeholder="email"> <br>
        <input type="submit" value="Add">
    </form>   
</body>
</html>